In [37]:
#1 Use a python code to display the following star pattern using the for loop

for i in range(0,5):
    for j in range(0,i+1):
        print("* ",end="")
    print("\r") #\r is carriage return
for m in range(4,0,-1):
    for n in range(0,m):
        print("* ",end="")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [39]:
# 2. Use looping to output the elements from a provided list present at odd indexes.
#my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list),2):
    print(my_list[i])

20
40
60
80
100

In [30]:
# 3. Write a code that appends the type of elements from a given list.
#Input
#x = [23, ‘Python’, 23.98]
#Expected output
#[23, 'Python', 23.98]
#[<class 'int'>, <class 'str'>, <class 'float'>]

x = [23, 'Python', 23.98]
type1=[]
for i in x:
    type1.append(type(i))
print(x)
print(type1)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [31]:
# 4. Write a function that takes a list and returns a new list with unique items of the first list.
#Sample List: [1,2,3,3,3,3,4,5]
#Unique List: [1, 2, 3, 4, 5]

list1=[1,2,3,3,3,3,4,5]
set1=set(list1)
UniqueList=list(set1)
print(UniqueList)

[1, 2, 3, 4, 5]

In [32]:
#5. Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters.
#Input String: 'The quick Brow Fox'
#Expected Output:
#No. of Upper-case characters: 3
#No. of Lower-case Characters: 12

string='The quick Brow Fox'
lowercase=0
uppercase=0
for i in string:
    if (i>='a'and i<='z'):
        lowercase+=1             
    if (i>='A'and i<='Z'):
        uppercase+=1
print("No. of Upper-case characters: ",uppercase)
print("No. of Lower-case Characters: ",lowercase)

No. of Upper-case characters:  3
No. of Lower-case Characters:  12