In [64]:
# The following is a list of 10 students ages:
ages=[19,22,19,24,20,25,26,24,25,24]

# Sort the list and find the min and max age
ages.sort()
min_age=ages[0]
max_age=ages[len(ages)-1]
print(ages)
print(min_age)
print(max_age)

# Add the min age and the max age again to the list
ages.append(min_age)
print(ages)

ages.append(max_age)
print(ages)

# Find the median age (one middle item or two middle items divided by two)
length=len(ages)
if(length%2==0):     # If length of list is even
    median=(ages[(int)(length/2)]+ages[(int)((length/2)-1)])/2
else:                # If length of list is odd
    median=ages[(int)((length-1)/2)]
print(median)

# Find the average age (sum of all items divided by their number)
#sum() and len() are built-in functions in python which can be used to find average.
avg=sum(ages)/len(ages)
print(avg)

# Find the range of the ages (max minus min)
# max() and min() are built-in functions to find maximum and minimum values in a list respectively
range1=max(ages) - min(ages)
print(range1)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24.0
22.75
7

In [58]:
#Create an empty dictionary called dog
dog = {}
print(dog)

#Add name, color, breed, legs, age to the dog dictionary
dog={
    'name':'Lucy',
    'color':'white',
    'legs':4,
    'age':3,
}
print(dog)

#Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
student={}
student['first_name']='Nikitha'
student['last_name']='Bukka'
student['gender']='Female'
student['age']=24
student['marital status']='Single'
student['skills']=['Python']
student['country']='India'
student['city']='hyderabad'
student['address']='Apt 143'
print(student)

#Get the length of the student dictionary
print(len(student))

#Get the value of skills and check the data type, it should be a list
print(student['skills'])
print(type(student['skills']))

#Modify the skills values by adding one or two skills
student.update({'skills':['Python','Java','SAP PO','MySQL']})
print(student)

#Get the dictionary keys as a list
print(student.keys())

#Get the dictionary values as a list
print(student.values())

{}
{'name': 'Lucy', 'color': 'white', 'legs': 4, 'age': 3}
{'first_name': 'Nikitha', 'last_name': 'Bukka', 'gender': 'Female', 'age': 24, 'marital status': 'Single', 'skills': ['Python'], 'country': 'India', 'city': 'hyderabad', 'address': 'Apt 143'}
9
['Python']
<class 'list'>
{'first_name': 'Nikitha', 'last_name': 'Bukka', 'gender': 'Female', 'age': 24, 'marital status': 'Single', 'skills': ['Python', 'Java', 'SAP PO', 'MySQL'], 'country': 'India', 'city': 'hyderabad', 'address': 'Apt 143'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Nikitha', 'Bukka', 'Female', 24, 'Single', ['Python', 'Java', 'SAP PO', 'MySQL'], 'India', 'hyderabad', 'Apt 143'])

In [66]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters=("Sushma","Ramya")
Brothers=("Sampath","Hannie","Harsha")
print(sisters)
print(Brothers)

#Join brothers and sisters tuples and assign it to siblings
siblings=sisters+Brothers
print(siblings)

#How many siblings do you have?
print(len(siblings))

#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members=siblings+("Ramesh","Swaroopa")
print(family_members)

('Sushma', 'Ramya')
('Sampath', 'Hannie', 'Harsha')
('Sushma', 'Ramya', 'Sampath', 'Hannie', 'Harsha')
5
('Sushma', 'Ramya', 'Sampath', 'Hannie', 'Harsha', 'Ramesh', 'Swaroopa')

In [70]:
it_companies={'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

#Find the length of the set it_companies
print(len(it_companies))

#adding Twitter to a set
it_companies.add('Twitter')
print(it_companies)

#Insert multiple IT companies at once to the set it_companies
it_companies.update(['TCS','Cognizant','Capgemini'])
print(it_companies)

#Remove one of the companies from the set it_companies
it_companies.remove('Cognizant')
print(it_companies)

#what is the difference between remove and discard
#If the item to remove does not exist in the given set, "remove" will raise an error where as "discard" will not raise an error

#Join A and B
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]
print(A.union(B))    # union(), update() are built-in funtions to join 2 sets

#Find A intersection B
print(A.intersection(B))

#Is A subset of B
print(A.issubset(B))

#Are A and B disjoint sets
print(A.isdisjoint(B))

#Join A with B and B with A
print(A.union(B))
print(B.union(A))

#What is the symmetric difference between A and B
print(A.symmetric_difference(B))

#Delete the sets completely
it_companies.clear()
A.clear()
B.clear()
print(it_companies)
print(A)
print(B)

#Convert the ages to a set and compare the length of the list and the set
Ages=set(age)
print(Ages)
print(len(Ages)<len(age))

7
{'Microsoft', 'Google', 'Apple', 'Amazon', 'Twitter', 'Facebook', 'IBM', 'Oracle'}
{'Microsoft', 'Amazon', 'IBM', 'TCS', 'Oracle', 'Google', 'Apple', 'Capgemini', 'Cognizant', 'Twitter', 'Facebook'}
{'Microsoft', 'Amazon', 'IBM', 'TCS', 'Oracle', 'Google', 'Apple', 'Capgemini', 'Twitter', 'Facebook'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
set()
set()
set()
{19, 22, 24, 25, 26}
True

In [71]:
#The radius of a circle is 30 meters.

#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
radius1=30
pi=3.14
_area_of_circle_=pi*radius1*radius1
print(_area_of_circle_)

#Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_=2*pi*radius1
print(_circum_of_circle_)

#Take radius as user input and calculate the area.
radius2=(float)(input("enter the radius:"))
area=pi*radius2*radius2
print(area)

2826.0
188.4
enter the radius:2
12.56

In [72]:
# “I am a teacher and I love to inspire and teach people”
#How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
str1="I am a teacher and I love to inspire and teach people"
S=(set)(str1.split())
print(S)
print(len(S))

{'to', 'teach', 'and', 'people', 'love', 'teacher', 'am', 'a', 'I', 'inspire'}
10

In [75]:
#Use a tab escape sequence to get the following lines.
#Name Age Country City
#Asabeneh 250 Finland Helsinki
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [76]:
#Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”

print('radius =', 10)
print('area =', 3.14, '* radius **', 2)  #two * sign is considered as exponent or power
print('The area of a circle with radius', 10, 'is', 314, 'meters square.')

radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

In [79]:
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]
conversionValue=0.453592     #1 lbs = 0.453592 kgs
N=int(input('Enter number of students:'))
Lbs=[]
Kgs=[]
for i in range(0,N):
    Lbs.append(int(input('Enter weight in lbs:')))
for i in Lbs:
    Kgs.append(conversionValue*i)
print(Kgs)

Enter number of students:4
Enter weight in lbs:150
Enter weight in lbs:155
Enter weight in lbs:145
Enter weight in lbs:148
[68.0388, 70.30676, 65.77083999999999, 67.131616]